.body {
    font-family: 'Roboto','Raleway', sans-serif;
    background: #FFFFFF;
    max-width: 1600px;
}

.container{
    width: 1200px;
}

.section{
    padding: 94px 0;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.header-portfolio{
    border-bottom: 1px #ECECEC solid;
}

.main-tittle {
    line-height: 1.38;
    text-decoration: none;
    color: #2196F3;
    letter-spacing: 0.03;
    font-size: 26px;
    padding-top: 24px;
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 93px;
}

.rest-tittle {
    line-height: 1.38;
    color: #212121;
}

.menu{
    font-size: 14px;
}

.menu-list{
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    margin-top: 32px;
    font-size: 14px;
}

.studio {
    color: #212121;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03;
    margin-right: 46px;
    position: relative;
}

.underscore::after{
    position: absolute;
    display: block;
    top:28px;
    content: '';
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    cursor: unset;
    pointer-events: none;
}

.portfolio {
    color: black;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02;
    margin-right: 46px;
    position: relative;
}

.contacts {
    color: black;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02;
    margin-right: 320px;
    position: relative;
}

.contact-list{
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    margin-top: 32px;
    font-size: 14px;
}
.email {
    color: #212121;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.02;
    margin-right: 50px;
}
 
.contact-icon{
    width: 16px;
    height: 12px;
    display: inline-flex;
}

.phone {
    color: black;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02;
}

.portfolio:hover,
.studio:hover,
.contacts:hover,
.email:hover,
.phone:hover,
.second-email:hover,
.second-phone:hover,
.contact-icon:hover {
    color:#2196F3;
    text-decoration: none;
    fill: #2196F3;
    cursor: pointer;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.request {
    background-color:#2F303A;
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../images/img16.jpg);
}

h1{
    color: #FFFFFF;
    line-height: 1.36;
    letter-spacing: 0.06;
    font-size: 44px;
    padding: 200px 452px 0 452px;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
}

.button { 
    background-color: #2196F3;
    line-height: 1.87;
    color: white;
    letter-spacing: 0.06;
    padding: 10px 41px;
    margin: 40px 700px 200px;
    justify-content: center;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    opacity: 1;
    transition-duration: 1s;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    position: absolute;
    display: flex;
    height: 581px;
    width: 528px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 15%;
    left: 28.5%;
}

.modal-form{
    display: block;
    justify-content: center;
    text-align: left;
    height: 581px;
    width: 528px;
}

.form-tittle{
    color: #212121;
    width: 448px;
    height: 23px;
    font-weight: 700;
    size: 20px;
    line-height: 1.17;
    padding: 40px 40px 12px 40px;
    margin: 0px;
    text-align: center;
}

.form-label{
    position: relative;
    display: block;
    margin: 0px 40px 10px 40px;
}

.modal-icon{
    position: absolute;
    top: 35px;
    left: 15px;
    fill: #212121;
}

.com-form-label{
    display: block;
    margin: 0px 40px 20px 40px;
}

.rules-form{
    position: relative;
    display: block;
    margin-top: 0px;
    margin-left: 40px;
    white-space: nowrap;
    width: 397px;
    height: 24px;
    size: 14px;
    cursor: pointer;
}

.rules-form-label{
    position: absolute;
    padding-left: 25px;
}

.rules-form-label a{
    color: #2196F3;
}

.input-rules{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    padding-left: 17px;
}

.rules-icon{
    border: 1px black solid;
    position: absolute;
    top: 0px;
    left: 0px;
}

.input-rules:checked + .rules-icon{
    background-color: #2196F3;
    border: 1px #2196F3 solid;
    fill: #FFFFFF;
    overflow: hidden;
    border-radius: 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yes-icon{
    width: 11px;
    height: 8px;
}

.label-categ{
    text-align: left;
}

.label-style{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    width: 406px;
    height: 40px;
    padding-left: 42px;
}

.label-style:focus + .modal-icon{
    fill:#2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-style{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    width: 448px;
    height: 120px;
    resize: none;
}

.label-style:focus-within,
.comment-style:focus-within{
    border: 1px solid #2196F3;
    border-radius: 4px;
    fill: #2196F3;
    outline:none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.form-button{
    display: block;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 30px auto;
}

.modal-send{
    font-weight: 700;
    size: 16px;
    width: 48px;
    height: 30px;
}

/* .anime{
    animation-name: rotate;
    animation-duration: 3000ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    transition-timing-function: linear;
    transform-origin: center;
    transition-property: transform
}

@keyframes rotate{
    0% {
        background-color: greenyellow;
        transform: rotate(0deg) scale(0) 
    }
    100%{
        background-color: #FFFFFF;
        transform: rotate(1080deg) scale(1)
    }
} */

.close-button{
    position: absolute;
    width: 30px;
    height:30px;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFFFFF;
}

.close-button:hover{
    background:rgba(33, 150, 243, 0.9)
}

.about-icon{
    justify-content: center;
    align-items: center;
}

.about-us-icon{
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px
}

.about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
    padding: 94px 0;
}

.about-tittle {
    color: #212121;
    line-height: 1.14;
    font-weight: 700px;
    letter-spacing: 0.03;
    font-size: 14px;
}

.about-description {
    color: #757575;
    line-height: 1.71;
    font-weight: 400px;
    letter-spacing: 0.03;
    font-size: 14px;
    width: 270px;
}

ul{
    padding-left: 0px;
}

figure{
    margin: 0px;
}

.job-section{
    margin: 0 auto;
    padding-bottom: 94px;
}
.job-tittle {
    color:#212121;
    line-height: 1.16;  
    letter-spacing: 0.03;
    font-size: 36px;
    font-weight: 700px;
    text-align: center;
}

.photo-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.job-photo{
    display: block
}

.job-label{
    position: absolute;
    text-align: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: white;
    margin: 0;
    bottom:0;
    font-size: 14px;
    font-weight: 700;
}

.label-position{
    position: absolute;
    display: block;
    width: 182px;
    height: 16px;
    padding: 27px 94px;
}

.team-section {
    background-color: #F5F4FA;
    margin: 0 auto;
}

.team-tittle {
    color:#212121;
    line-height: 1.16;
    letter-spacing: 0.03;
    text-align: center;
    font-size: 36px;
    font-weight: 700px;
}

.img-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.our-img{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.name {
    color:#212121;
    line-height: 1.17;
    font-weight: 500px;
    font-size:16px;
    letter-spacing: 0.03;
    text-align: center;
    margin-top: 30px;
}

.position {
    color: #757575;
    line-height: 1.17;
    font-weight: 400px;
    font-size: 14px;
    letter-spacing: 0.03;
    display: block;
    padding-top: 10px;
}

.our-social-list{
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 30px;
}

.our-social{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.our-social-icon{
    fill: #AFB1B8;
    border-radius: 50%;
    background-color: white;
    height: 44px;
}

.our-social-icon:hover{
    border-radius: 50%;
    background-color: #2196F3;
    fill: #FFFFFF;
    cursor: pointer;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-partners{
    width: auto;
}
.partners-tittle{
    color:#212121;
    line-height: 1.16;
    letter-spacing: 0.03;
    text-align: center;
    font-size: 36px;
    font-weight: 700px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.partners-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.partners-logo{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    object-fit: contain;
    fill: #AFB1B8;
}

.partners-logo:hover{
    border: 1px solid #2196F3;
    fill: #2196F3;
    cursor: pointer;
}

.partners-logo-size{
    width: 106px;
    height: 60px;
}

.footer {
    background-color: #2F303A;
}

.footer-section{
    padding-top: 60px;
    padding-left:215px;
    padding-right: 215px;
    padding-bottom: 60px;
    display: flex;
}

.second-main-tittle {
    color: #2196F3;
    text-decoration: none;
}

.second-tittle{
    line-height: 1.38;
    letter-spacing: 0.03;
    font-size: 26px;
    margin-bottom: 20px;
    width: 145px;
    margin: 0;
}

.second-rest-tittle {
    color: #FFFFFF;
}

.address {
    color: white;
    line-height: 1.71;
    font-weight: 400px;
    letter-spacing: 0.03;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 9px;
    width: 246px;
}

.second-email {
    color: #FFFFFF;
    opacity: 60%;
    line-height: 1.17;
    font-weight: 400px;
    text-decoration: none;
    letter-spacing: 0.03;
    padding-bottom: 9px;
    padding-top: 9px;
    width: 231px;
}

.second-phone {
    color: #FFFFFF;
    opacity: 60%;
    line-height: 1.17;
    font-weight: 400px;
    text-decoration: none;
    letter-spacing: 0.03;
    width: 231px;
}

.come-to-us{
    font-weight: 700;
    color: white;
    line-height: 1.17;
    width: 113px;
    height: 16px;
    padding: 0;
    margin: 12px 0 20px 70px;
}

.second-footer-section{
    display:flex;
    padding: 0;
    margin-left: 70px;
}

.footer-icons-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
}

.footer-social-icons{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-social-icons:hover{
    background-color: #2196F3;
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: 44px;
}

.join{
    font-weight: 700;
    color: white;
    line-height: 1.17;
    width: 207px;
    height: 16px;
    letter-spacing: 0.03;
    padding: 0px;
    margin: 12px 578px 20px 78px;
}

.newsletter-email{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF 0.6;
    background-color: #2F303A;
    padding-left: 16px;
    margin: 0px 12px 94px 78px;
    cursor: pointer;
}

.submit-button{
    position: relative;
    display: inline-flex;
    width: 200px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color:#2196F3;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.footer-label{
    position: relative;
}

.send{
    position: absolute;
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    padding-left:128px;
}

.text-button{
    color: #FFFFFF;
    width: 82px;
    height: 30px;
    font-weight: 700;
    letter-spacing: 0.06;
    line-height: 1.88;
    padding-left: 32px;
}

.second-menu{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin: 0;
}

.button-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 6px 22px;
    text-align: center;
    gap: 8px;
}

.menu-button {
    color: #212121;
    background-color: white;
    text-decoration: none;
    letter-spacing: 0.03;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    line-height: 1.62;
    width: 93px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
}

.menu-button:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #7e7676;
    cursor: pointer;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-section{
    margin: 0 auto;
}

.portfolio-photo{
    display: flex;
    gap: 30px;
}

.portfolio-list{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.portfolio-img{
    border: solid 1px #EEEEEE;
}

.overlay-box{
    position: relative;
    overflow: hidden;
}

.overlay{
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    background-color:rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    top: 0;
    margin: 0;
    transform: translateY(110%);
    transition: 400ms;
    overflow: hidden;
    border-radius: 4px;
}

.portfolio-img:hover,
.portfolio-img:focus, 
.portfolio-img:hover .overlay {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transform: translateY(0);
    visibility: visible;
}

.overlay-text{
    width: 301px ;
    font-size: 18px;
    letter-spacing: 3%;
    line-height: 1.55;
    padding: 49px 45px 49px 24px;
    margin: 0;
}

.second-name {
    line-height: 2;
    font-weight: 700;
    color:#212121;
    letter-spacing: 0.06;
    padding: 20px 24px 4px 24px;
}
.categories {
    line-height: 1.87;
    color: #757575;
    font-weight: 400;
    letter-spacing: 0.03;
    display: block;
}

.social-size{
    width: 44px;
    height: 44px;
}

.social-icon-size{
    width: 20px;
    height: 20px;
}
