@import"./variables";
@mixin bordered($color){
   border: 1px solid $color
}
@mixin anime{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
@mixin centering($a,$b,$c){
    justify-content: $a;
    text-align: $b;
    align-items: $c;
}

.footer{
    background-color: $bg-footer-color;
    &__section{
        padding-top: 60px;
        padding-left:215px;
        padding-right: 215px;
        padding-bottom: 60px;
        display: flex;
    }
    &__title{
        margin: 0px;
    }
    &__title--main{
        line-height:  $standard-line-height;
        letter-spacing: $standard-letter-spacing;
        font-size: 26px;
        margin-bottom: 20px;
        width: 145px;
        color: $blue-color;
        text-decoration: none;
    }
    &__title--rest{
        color: $white-color;
    }
    &__address{
        color: $white-color;
        line-height: 1.71;
        font-weight: 400px;
        letter-spacing: $standard-letter-spacing;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 9px;
        width: 246px;
    }
    &__address--email, &__address--phone{
        color: $white-color;
        opacity: 60%;
        line-height: 1.17;
        font-weight: 400px;
        text-decoration: none;
        letter-spacing: $standard-letter-spacing;
        width: 231px;
    }
    &__address--email{
        padding-bottom: 9px;
        padding-top: 9px;
    }
}
.join__title,
.newsletter__title{
    font-weight: 700;
    color: $white-color;
    line-height: 1.17;
    height: 16px;
    padding: 0;
    letter-spacing: $standard-letter-spacing;
}
.join{
    list-style-type: none;
    &__title{
        width: 113px;
        margin: 12px 0 20px 70px;
    }
    &__section{
        display:flex;
        padding: 0;
        margin-left: 70px;
    }
    &__list{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding-left: 0px;
    }
    &__social{
        background-color: $bg-social-icon;
        border-radius: 50%;
    }
    &__social:hover{
        background-color: $blue-color;
        border-radius: 50%;
        cursor: pointer;
        @include anime();
        height: 44px;
    }
}
.newsletter{
    list-style-type: none;
    &__title{
        width: 207px;
        margin: 12px 578px 20px 78px;
    }
    &__label{
        position: relative;
        width: 358px;
        padding-right: 0;
    }
    &__email, &__button{
        @include bordered(rgba(255, 255, 255, 0.3));
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        cursor: pointer;
    }
    &__email{
        width: 358px;
        height: 50px;
        color: $white-color 0.6;
        background-color: $darkgray;
        padding-left: 16px;
        margin: 0px 12px 0px 78px;
    }
    &__button{
        position: absolute;
        display: inline-flex;
        width: 200px;
        height: 50px;
        background-color:$blue-color;
        align-items: center;
        margin-top: 3px;
    }
    &__button--text{
        color: $white-color;
        width: 82px;
        height: 30px;
        font-weight: 700;
        letter-spacing: 0.06;
        line-height: 1.88;
        padding-left: 32px;
    }
    &__button--icon{
        position: absolute;
        width: 24px;
        height: 24px;
        fill: $white-color;
        padding-left:128px;
    }
}