@import"./variables";

.body {
    font-family: 'Roboto','Raleway', sans-serif;
    background: $white-color;
    max-width: 1600px;
}

.container{
    width: 1200px;
}

.section{
    padding: 94px 0;
}