@import"./variables";
@mixin bordered($color){
   border: 1px solid $color
}
@mixin anime{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
@mixin centering($a,$b,$c){
    justify-content: $a;
    text-align: $b;
    align-items: $c;
}

@import"./index.scss";
@import"./header.scss";
@import"./main.scss";
@import"./footer.scss";